/*  VARIABLES  */
/*  ANIMATIONS  */
@-webkit-keyframes scaleImage {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes scaleImage {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes scaleImage2 {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
@keyframes scaleImage2 {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
/*  FONTS  */
@font-face {
  font-family: 'futura';
  src: url("fonts/futura-medium-webfont.eot");
  src: url("fonts/futura-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futura-medium-webfont.woff") format("woff"), url("fonts/futura-medium-webfont.ttf") format("truetype"), url("fonts/futura-medium-webfont.svg#kaufmannregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kaufmann';
  src: url("fonts/kaufmann_regular-webfont.eot");
  src: url("fonts/kaufmann_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/kaufmann_regular-webfont.woff") format("woff"), url("fonts/kaufmann_regular-webfont.ttf") format("truetype"), url("fonts/kaufmann_regular-webfont.svg#kaufmannregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*  GLOBAL RESETS  */
body, p, table, tr, td, ul, ol, li, dl, dd, dt, div, span, a, h1, h2, h3, h4, h5, h6, fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

a img {
  border: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

:focus {
  outline: 0 none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none; }

ul li {
  list-style: none; }

/* GLOBAL */
html {
  background: #FCF3E4;
  font-size: 10px; }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 12px; } }

body {
  font: 1.8rem/2.4rem 'futura', sans-serif;
  border: solid 0.2rem #9B9B9B;
  margin: 1.2rem;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 767px) {
    body {
      margin: .5rem;
      font-size: 1.5rem;
      line-height: 2rem;
      border-width: .1rem; } }

section {
  padding: 4rem;
  max-width: 90rem;
  margin: auto;
  clear: both; }
  @media screen and (max-width: 767px) {
    section {
      padding: 2rem; } }

.wrap {
  width: 60%; }
  @media screen and (max-width: 767px) {
    .wrap {
      float: none;
      width: 100%; } }

.left {
  float: left; }

.right {
  float: right; }

p {
  margin-top: 2rem; }
  p.noPad {
    margin-top: 0; }

a {
  color: #C51B0E; }
  a:hover {
    text-decoration: underline; }

ul.list {
  padding-top: .5rem;
  padding-left: 4rem; }
  ul.list li {
    list-style: circle; }

h2 {
  font: 4.4rem/5rem 'kaufmann', sans-serif;
  position: relative;
  color: #C51B0E; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 3.2rem;
      line-height: 3.5rem; } }
  h2:after {
    content: '';
    border-top: 0.2rem solid #C51B0E;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem; }
    @media screen and (max-width: 767px) {
      h2:after {
        bottom: .7rem;
        border-width: .1rem; } }
  h2.indigo {
    color: #40465A; }
    h2.indigo:after {
      border-color: #40465A; }
  h2.linen {
    color: #9B9B9B; }
    h2.linen:after {
      border-color: #9B9B9B; }

h3 {
  margin-top: 4rem;
  color: #40465A;
  letter-spacing: .1em;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase; }

h4 {
  font-weight: normal;
  font-style: italic;
  color: #40465A;
  font-size: 1.8rem; }

/*  PAGE STYLES  */
header img {
  margin: 10% auto 0 auto;
  display: block;
  width: 90%;
  max-width: 50rem; }

.imgZoom {
  width: 95%;
  max-width: 100rem;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 1rem solid white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .imgZoom {
      border-width: .4rem;
      width: 90%; } }
  .imgZoom.vert {
    width: 35%;
    margin-right: 3%; }
  .imgZoom img {
    width: 100%;
    -webkit-animation: scaleImage 30s ease-in-out infinite;
            animation: scaleImage 30s ease-in-out infinite; }
    .imgZoom img.alt {
      -webkit-animation: scaleImage2 40s ease-in-out infinite;
              animation: scaleImage2 40s ease-in-out infinite; }

section.intro p {
  margin-bottom: 5rem; }
  @media screen and (max-width: 767px) {
    section.intro p {
      margin-bottom: 2rem; } }
section.intro .imgZoom {
  width: 55%;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg); }
  section.intro .imgZoom.right {
    width: 44%;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
    @media screen and (max-width: 767px) {
      section.intro .imgZoom.right {
        width: 80%;
        margin-top: -1rem; } }
  @media screen and (max-width: 767px) {
    section.intro .imgZoom {
      width: 90%; } }

section.childcare .imgZoom {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  width: 30%; }
@media screen and (max-width: 767px) {
  section.childcare .imgZoom {
    width: 80%;
    margin: 0 auto 1rem auto;
    float: none;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); } }

section.stay .imgZoom {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin-top: 5rem; }
  @media screen and (max-width: 767px) {
    section.stay .imgZoom {
      width: 90%;
      margin-top: 1rem; } }

section.wear .imgZoom {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin-left: 2%;
  width: 30%; }
  @media screen and (max-width: 767px) {
    section.wear .imgZoom {
      width: 52%; } }
  section.wear .imgZoom.abha {
    float: right;
    margin-top: 4rem;
    left: 7rem;
    width: 35%;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); }
    @media screen and (max-width: 767px) {
      section.wear .imgZoom.abha {
        left: 0;
        width: 65%; } }

section.gettingTo .imgZoom {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin-top: 2rem;
  width: 30%; }
  @media screen and (max-width: 767px) {
    section.gettingTo .imgZoom {
      width: 68%;
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
      margin-left: 8%; } }
section.gettingTo .wrap {
  width: 65%; }
  @media screen and (max-width: 767px) {
    section.gettingTo .wrap {
      width: 100%; } }

section.sights .imgZoom {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  width: 32%;
  margin-left: 8%; }
  @media screen and (max-width: 767px) {
    section.sights .imgZoom {
      width: 78%;
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg); } }

footer img {
  margin: 0 auto 4% auto;
  display: block;
  width: 60%;
  max-width: 28rem; }
