/*  VARIABLES  */
/*  FONTS  */
@font-face {
  font-family: 'futura';
  src: url("futura-medium-webfont.eot");
  src: url("futura-medium-webfont.eot?#iefix") format("embedded-opentype"), url("futura-medium-webfont.woff") format("woff"), url("futura-medium-webfont.ttf") format("truetype"), url("futura-medium-webfont.svg#kaufmannregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kaufmann';
  src: url("kaufmann_regular-webfont.eot");
  src: url("kaufmann_regular-webfont.eot?#iefix") format("embedded-opentype"), url("kaufmann_regular-webfont.woff") format("woff"), url("kaufmann_regular-webfont.ttf") format("truetype"), url("kaufmann_regular-webfont.svg#kaufmannregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*  GLOBAL RESETS  */
body, p, table, tr, td, ul, ol, li, dl, dd, dt, div, span, a, h1, h2, h3, h4, h5, h6, fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

a img {
  border: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

:focus {
  outline: 0 none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none; }

ul li {
  list-style: none; }

/* GLOBAL */
html {
  background: #FCF3E4;
  font-size: 10px; }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 12px; } }

body {
  font: 1.8rem/2.2rem 'futura', sans-serif;
  border: solid 0.2rem #9B9B9B;
  margin: .8rem;
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 767px) {
    body {
      margin: .2rem; } }

a {
  color: #505050; }
  a:hover {
    text-decoration: underline; }

/*  PAGE STYLES  */
header img {
  margin: 10% auto;
  display: block;
  width: 90%;
  max-width: 50rem; }
