/*  VARIABLES  */
$background:  #FCF3E4;
$linen:       #9B9B9B;
$red:         #C51B0E;
$indigo:      #40465A;
$ink:         #000000;

$xs-max:      767px;
$xl-min:      1400px;

/*  ANIMATIONS  */
@keyframes scaleImage {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}

/*  FONTS  */
@font-face {
  font-family: 'futura';
  src: url('futura-medium-webfont.eot');
  src: url('futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('futura-medium-webfont.woff') format('woff'),
       url('futura-medium-webfont.ttf') format('truetype'),
       url('futura-medium-webfont.svg#kaufmannregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kaufmann';
  src: url('kaufmann_regular-webfont.eot');
  src: url('kaufmann_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('kaufmann_regular-webfont.woff') format('woff'),
       url('kaufmann_regular-webfont.ttf') format('truetype'),
       url('kaufmann_regular-webfont.svg#kaufmannregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  GLOBAL RESETS  */
body, p, table, tr, td, ul, ol, li, dl, dd, dt, div, span, a, h1, h2, h3, h4, h5, h6, fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

a img {
  border: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

:focus {
  outline: 0 none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none; }

ul li {
  list-style: none; }


/* GLOBAL */
html {
  background: $background;
  font-size: 10px;
  // bump everything larger if xl screen
  @media screen and (min-width: $xl-min) {
    font-size: 12px;
  }
}
body {
  font: 1.8rem/2.2rem 'futura', sans-serif;
 // border: solid .2rem $linen;
 // margin: .8rem;
  -webkit-font-smoothing: antialiased;
  @media screen and (max-width: $xs-max) {
    margin: .2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
section {
  padding: 4rem;
  max-width: 100rem;
  @media screen and (max-width: $xs-max) {
    padding: 2rem;
  }
}
p {
  margin-top: 2rem;
}
a {
  color: #505050;
  &:hover {
    text-decoration: underline;
  }
}
h1 {

}
h2 {
  font: 4.4rem/5rem 'kaufmann', sans-serif;
  position: relative;
  color: $indigo;
  @media screen and (max-width: $xs-max) {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  &:after {
    content: '';
    border-top: .2rem solid $indigo;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
  }
  &.red {
    color: $red;
    &:after {
      border-color: $red;
    }
  }
  &.linen {
    color: $linen;
    &:after {
      border-color: $linen;
    }
  }
}

/*  PAGE STYLES  */
header {
  img {
    margin: 10% auto 4% auto;
    display: block;
    width: 90%;
    max-width: 50rem;
  }
  .tag {
    display: none;
  }
}
.imgZoom {
    width: 96%;
    margin-left: 2%;
    position: relative;
    overflow: hidden;
    border: 1rem solid white;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
    box-sizing: border-box;
    transform: rotate(-1deg); // to change per image
    @media screen and (max-width: $xs-max) {
      border-width: .4rem;
    }
    img {
      width: 100%;
      animation: scaleImage 30s ease-in-out infinite;
      @media screen and (max-width: $xs-max) {
        width: 200%;
        margin-left: -50%;
      }
    }
}
footer {
  img {
    margin: 0 auto 4% auto;
    display: block;
    width: 40%;
    max-width: 24rem;
  }
}